@page
@model Employee.Pages.EmployeeModel
@{
}

<div>
    <h1>ID: @Model.employee.employee_id</h1>
    <h2>@Model.employee.first_name  @Model.employee.last_name</h2>
    <p>Address: @Model.employee.address</p>
    <p>Email: @Model.employee.email</p>
    <p>Phone Number: @Model.employee.phone_number</p>
    <p>Department: Put in Department</p>
    <p>Title: Put in Title</p>
    <p>Supervisor: Put in Supervisor</p>
    <p>Employment Type: Put in Employement Type</p>
    <p>Gender: @Model.employee.gender</p>
    <p>Date of Hire: Put in DOH</p>
    <p>Date of Birth: @Model.employee.date_of_birth</p>
</div>